body {
    background-image: url('../Imagenes/wallpaper-1920x1080-in-2019-Pixel-animation-Pixel-art-.gif');
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position-x: center;*/
    background-position-y: center;
}

ul {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(231, 124, 110);
}

.active {
    color: rgb(231, 124, 110);
}

.medida {
    height: 300px;
    width: 300px;
}

button {
    height: 40px;
    width: 40px;
}